body{
    background: lightgray;
	font-family: sans-serif;
	margin: 0; /* used to create space around elements, outside of any defined borders. */
}
header{
    background: white;
    margin-bottom: 40px; /* to leave a space under the header. */
    display: flex; /* Flexbox Layout: this is a flex container. */
    justify-content: center; /* to align the flex items in the main axis */
}
header h1{
    text-align: left;
   	width: 600px;
}
.wrapper{
	margin: auto; /* margin is used to create space around elements. Auto => center the element within its container.*/
}
.flex-container{
    display: flex; /* Flexbox Layout: this is a flex container.  */
    flex-direction: column; /* The column value stacks the flex items vertically (from top to bottom) */
    align-items: center; /* alignment for items inside the flexible container, in the cross axis */
}

.entry{
    width: 600px; /* so that all the inputs have the same width */
    background: white;
	margin-bottom: 40px; /* to leave a space between each entry in the feed. */
}
.entry-head{
	display: flex; /* Flexbox Layout: this is a flex container. So that the two elements occupy the same row */
    justify-content: space-between; /* so that each element goes to one extreme */
}
.entry-head > div {
	padding: 0 10px 0 10px; /* An element's padding is the space between its content and its border. */
}
.entry-body img{
	width: 100%;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}
.entry-footer{
	padding: 0 20px 0 20px; /* padding = padding-top, padding-right, padding-bottom, padding-left */
}